
.sections{float:right;color:white;font-size: 2em;padding-right: .8em;font-family: "Arial Black";}
.titles{color:white;padding-top: 5em;padding-bottom:5em;text-align:center;font-size:4em;font-family: "Arial Black";}

/*a:link {color:white;}
a:visited {color:white;}
a:hover {color:white;}
a:active {color:white;}
div:hover {color:white;}
div:active {color:white;}*/
a:visited {color:white;}

#location{
  text-align:center;
}
.img1{
  position:absolute;
  z-index: -1;
  width:100%;
  height:100%;

}
#div{
background-image: url('IMG_5821.jpg');  
}

#home_body{
background-image: url('IMG_0024.jpg');
background-size: 100%;
background-repeat: no-repeat;
}

#main_body{
  background-image: url('IMG_5821.jpg');
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:1000px 5000px;
  -o-background-size:cover;
  background-repeat: no-repeat;
}

#first_div{
  background-image: url('IMG_6516.jpg'); 
}

h1{
color:white;
font-family: "Comic Sans MS";
text-align: center;
letter-spacing:"6px";
font-size: 120px;
line-height: 1;

}
h2{
text-align: center;
font-size: 40px;
color:white;	
line-height: .01;
}

@media screen and (min-width: 437px) and (max-width: 895px) {

  #home_body{
    /*background-size: 768px 1024px;*/
    background-image:url('DSC_0006.JPG');
    background-repeat: no-repeat;
  }

  h1{font-size:60px;}
  h2{font-size:20px;}

}

@media screen and (min-width: 319px) and (max-width: 436px) {

  #home_body{
    background-image:url('DSC_0006.JPG');
  	background-size: 435px 773px;
    background-repeat: no-repeat;	
  }

  h1{font-size:45px;}
  h2{font-size:15px;}

}/*cerramos segundo query */

.container{
  text-align:center;
}

button{
  background-color: white;
  border:none;
  font-size:1.5em;
}
button:hover{
  cursor:pointer;
}


