body{
background-image: url('IMG_0024.jpg');
background-size: 100%;
background-repeat: no-repeat;
}

h1{
color:white;
font-family: "Comic Sans MS";
text-align: center;
letter-spacing:"6px";
font-size: 120px;
line-height: 1;

}
h2{
text-align: center;
font-size: 40px;
color:white;	
line-height: .01;
}


