#home_body{
background-image: url('IMG_0024.jpg');
background-size: 100%;
background-repeat: no-repeat;
}

#main_body{
  background-image: url('thumb_IMG_5870_1024.jpg');
  background-size:cover;
  webkit-background-size:cover;
  background-repeat: no-repeat;
}

h1{
color:white;
font-family: "Comic Sans MS";
text-align: center;
letter-spacing:"6px";
font-size: 120px;
line-height: 1;

}
h2{
text-align: center;
font-size: 40px;
color:white;	
line-height: .01;
}

/*@media screen and (min-width: 768px) and (max-width: 900px) {

	body{
    /*background-size: 768px 1024px;*/
    /*background-repeat: no-repeat;
	}

  h1{font-size:30px;}
  h2{font-size:10px;}

}/*cerramos primer query*/

@media screen and (min-width: 437px) and (max-width: 895px) {

  body{
    /*background-size: 768px 1024px;*/
    background-image:url('DSC_0006.jpg');
    background-repeat: no-repeat;
  }

  h1{font-size:60px;}
  h2{font-size:20px;}

}

@media screen and (min-width: 319px) and (max-width: 436px) {

  body{
    background-image:url('DSC_0006.jpg');
  	background-size: 435px 773px;
    background-repeat: no-repeat;	
  }

  h1{font-size:45px;}
  h2{font-size:15px;}

}/*cerramos segundo query */

.container{
  text-align:center;
}

button{
  background-color: white;
  border:none;
  font-size:1.5em;
}
button:hover{
  cursor:pointer;

}


